body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(135deg, #0a0a0a 40%, #000000 100%);
    color: #f5f6fa;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    background: rgba(131, 149, 130, 0.7);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(48, 54, 49, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #000000;
    text-shadow: 0 2px 16px #ffffff49;
    font-size: 2.5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    padding: 15px 10px;
    width: 100%;
    max-width: 500px;
    border: 2px solid #222;
    border-radius: 8px;
    outline: none;
    font-size: 1.2rem;
    margin-bottom: 20px;
    background: #333;
    color: #f9f9f9;
    transition: border 0.3s ease;
}

input:focus {
    border: 2px solid #6aa3a9;
}

button {
    padding: 12px 22px;
    background: linear-gradient(90deg, #0013e6, #3c00ff);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    width: 60%;
    max-width: 300px;
}

button:hover {
    transform: scale(1.05);
}

#results {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.movie-card {
    background: rgb(70, 63, 63);
    color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 20px rgba(0, 212, 255, 0.2);
}

.movie-card h3 {
    color: #ffffff;
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 12px rgba(0, 212, 255, 0.2);
}

.movie-card p {
    margin: 7px 0;
    line-height: 1.5;
}

.movie-card .tagline {
    font-style: italic;
    color: #bbbbbb;
    margin-top: 6px;
    display: block;
}


#refresh-btn {
    padding: 10px 10px;
    background: linear-gradient(90deg, #333, #444);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    max-width: 100px;
}

#refresh-btn:hover {
    transform: scale(1.05);
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100%;
}