backend/node_modules/
.env
.vscode/
recommendation/venv/
recommendation/__pycache__/
recommendation/package/
recommendation/recomendation.zip
client/movie-frontend/node_modules/
client/movie-frontend/public/
