.movie-card {
    position: relative; 
    width: 280px;
    height: 400px;
    background: #000;
    color: #fff;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 5rem;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}

.movie-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.45);
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 0;
    transition: opacity 0.4s ease-in-out;
}

.movie-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateY(6px);
    transition: 0.35s ease;
    overflow-y: auto;
}

.movie-card:hover .movie-overlay {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 768px) {
    .movie-card {
        width: 46%;
    }
}

@media (max-width: 480px) {
    .movie-card {
        width: 100%;
    }

    .movie-card img {
        height: 300px;
    }
}

.movie-poster {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.movie-poster.lazy-loaded {
    opacity: 1;
}

.movie-overlay {
    position: absolute;
    inset: 0;
    padding: 18px;

    background: rgba(0,0,0,0.75);

    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.35s ease, transform 0.35s ease;
    overflow-y: auto;
}

.movie-card:hover .movie-overlay {
    opacity: 1;
    transform: translateY(0);
}


.movie-overlay h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 6px;
    color: #ffffff;
}

.movie-overlay .genres {
    font-size: 1rem;
    margin-bottom: 8px;
    opacity: 0.85;
}

.movie-overlay .overview {
    font-size: 0.9rem;
    line-height: 1.3;
    /* max-height: 60px; */
    overflow: hidden;
    opacity: 0.9;
}

@media (max-width: 768px) {
    .movie-card {
        width: 46%;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .movie-card {
        width: 100%;
        height: 280px;
    }
}